<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row rodape">
                <div class="col-xs-12 col-md-6 programador">
                    <p class="texto1">CRIANDO POR <br></p>
                    <p class="texto2">Márcio Nascimento</p>
                </div>
                <div class="col-xs-12 col-md-6 tecnologias">
                    <p class="texto4">TECNOLOGIA USADAS</p>
                    <p class="texto5">BACK END: Java - Spring Boot - Postgres<br>
                                      FRONT END: Angular - Bootstrap <br>
                                      DESIGNER: Photoshop - Corel Draw
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
