<header>
    <div class="container-fluid">
        <div class="container">
            <div class="row topo">
                <div class="col-xs-12 col-md-4 logomarca">
                    <img class="logo" [src] ="logotipo">
                </div>
                
                <div class="col-xs-12 col-md-8">
                        <nav class="navbar menu">
                            <ul class="lista">
                                <li>
                                    <i class="bi bi-house-door"></i>
                                    <a href="#">HOME</a>
                                </li>
                                <li>
                                    <i class="bi bi-person"></i>
                                    <a href="country">COUNTRY</a>
                                </li>
                                <li>
                                    <i class="bi bi-tools"></i>
                                    <a href="states">STATES</a></li>
                                <li>
                                    <i class="bi bi-building"></i>
                                    <a href="city">CITY</a></li>
                            </ul>
                        </nav>
                </div>
            </div>
        </div>
    </div>
</header>


